@import url('https://fonts.googleapis.com/css?family=Exo');

html {
    font-size: 14px;
    background-color: #212327;
    font-family: 'Exo', sans-serif;
    padding-bottom: 20px;
    color: #ffffff;
    overflow-x: hidden;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.main-nav{
    background-color: #2d3035;
}

.container {
    max-width: 960px;
}

.pricing-header {
    max-width: 700px;
}

.card-deck .card {
    min-width: 220px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
