/**
 * Created by Andreacw.
 */

/* Show it is fixed to the top */
body {
    background-color: #212327;
    font-family: 'Roboto',sans-serif;
    padding-bottom: 20px;
    color: #ffffff;
}

.navbar {
    margin-top: 7%;
    margin-bottom: 3%;
    border-radius: 3px;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.jumbotron {
    background-color: #2D3035;
    color: #ffffff;
    border-color: #303338;
    border-radius: 3px !important;
}

.breadcrumb {
    background-color: #2D3035;
    color: #ffffff;
    border-color: #303338;
    border-radius: 3px !important;
}

.bg-dark {
    background-color: #2D3035 !important;
}

.card{
    background-color: #2D3035;
    color: #ffffff;
    border-color: #303338;
}

.a{
    color: #3D6594;
}

.list-group-item{
    background-color: #2D3035;
    color: #ffffff;
    border-color: #303338;
}

h5{
    color: #007BCC;
    font-style: oblique;
}

@media screen and (max-width: 1100px){

    .pagec{
        padding-top: 3%;
    }

    .padonphone{
        margin-top: 2%;
    }

    .statsdiv{
        display: none;
    }


}

@media screen and (min-width: 1100px){
    .pagec{
        padding-top: 3%;
    }
}

.padbot{
    margin-bottom: 10px;
}

.searchcontainer{
    padding-bottom: 2%;
}

.fa-database{
    color: yellow;
}

.fa-star{
    color: #ff8433;
}

.table-dark{
    background-color: #2D3035 !important;
}

.cardstatborder{
    border-right: 2px solid #2D3035
}

.modal-content {
    background-color: #2D3035;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    color: white;
}

.modal-body b{
    color: #007BCC;
}