/**
 * Created by Andreacw.
 */

/* Show it is fixed to the top */
body {
    background-color: #212327;
    font-family: 'Roboto',sans-serif;
}

.bg-dark {
    background-color: #2D3035 !important;
}

.card{
    background-color: #2D3035;
    color: #ffffff;
    border-color: #303338;
}

.a{
    color: #3D6594;
}

.list-group-item{
    background-color: #2D3035;
    color: #ffffff;
    border-color: #303338;
}

h5{
    color: #007BCC;
    font-style: oblique;
}

@media screen and (max-width: 1100px){

    .pagec{
        padding-top: 5%;
    }

    .padonphone{
        margin-top: 2%;
    }

}

@media screen and (min-width: 1100px){
    .pagec{
        padding-top: 5%;
    }
}

.searchcontainer{
    padding-bottom: 2%;
}